 html,
 body {
    scroll-behavior: smooth;
    transition: all ease-in-out 0, 4s;
 }

 #card {

    position: absolute;
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* border: 1px solid red; */
    width: 52vw;
    height: 65vh;

    overflow-y: scroll;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    padding: 4vh 0;
    background-color: black;
    border-radius: 3%;
    transition: all 0.3s ease-in-out;

 }



 /* #card::-webkit-scrollbar {
    display: none;
 } */

 .aboutproject {
    display: flex;
    flex-direction: column;
    width: 12vw;
    align-items: center;
    justify-content: center;
    padding: 1rem 5rem 0rem 5rem;
    margin: 2vh 0;
    background-color: #262626;
    border: 1px solid white;
    border-radius: 2vw;
    color: white;
    transition: all ease-in 0.3s;
 }

 .aboutproject:hover {
    background-color: #353232;

 }


 .aboutproject .imgcontainer img {
    width: 14vw;
    height: 45vh;
    object-fit: contain;
    border-radius: 2px solid transparent;
    transition: all ease-in 0.3s;

 }



 .aboutproject .imgcontainer img:hover {
    scale: 1.2;
 }

 .aboutproject a {
    padding-top: 3vh;
    text-decoration: none;
    color: white;
    transform: color ease-in 0.3s;
    font-weight: bolder;

 }

 .aboutproject a:active {

    color: grey;


 }


 .aboutproject h3 {
    background: linear-gradient(45deg, red, orange, yellow);
    background-size: cover;
    background-position: center center;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    padding-bottom: 3vh;
    text-align: center;

 }

 @media (max-width:700px) {
    #card {

       position: absolute;
       top: 49%;
       left: 50%;

       width: 59vw;
       height: 48vh;

       grid-template-columns: 2fr
    }

    .aboutproject {
       width: 10vw;
       padding: 0rem 5rem 0rem 5rem;

    }

    .aboutproject h3 {
       width: 27vw;
    }

    .aboutproject .imgcontainer img {
       width: 28vw !important;
       height: 34vh !important;
       object-fit: contain;
       border-radius: 2px solid transparent;
       transition: all ease-in 0.3s;
    }



    .aboutdetail {
       width: 34vw;
       font-size: 2vw;
    }






 }

 @media (min-width:730px) and (max-width:1100px) {
    .aboutproject {
       width: 2vw;
    }

    .aboutproject .imgcontainer img {
       width: 17vw !important;
       height: 22vh !important;
    }

    .aboutdetail {
       width: 17vw;
       font-size: 1.3vw;
    }

    .aboutproject h3 {
       padding-top: 1vh;
       width: 17vw;
    }
 }